In [2]:
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv('bachelorette.csv')
df

,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,...,DATES-1,DATES-2,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10
0,SHOW,SEASON,ID,1,2,3,4,5,6,7,...,1,2,3,4,5,6,7,8,9,10
1,Bachelorette,13,13_BRYAN_A,R1,NaN,NaN,R,R,NaN,R,...,NaN,NaN,D6,D13,D1,D7,D1,D1,D1,D1
2,Bachelorette,13,13_PETER_K,NaN,R,NaN,NaN,NaN,R,R,...,NaN,D1,D6,D13,D9,D7,D1,D1,D1,D1
3,Bachelorette,13,13_ERIC_B,NaN,NaN,R,NaN,NaN,R,R,...,NaN,D10,D8,D13,D9,D1,D3,D1,D1,NaN
4,Bachelorette,13,13_DEAN_U,NaN,R,NaN,R,NaN,NaN,R,...,NaN,D8,D8,D1,D9,D7,D1,D1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,Bachelor,01,01_KRISTINA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917,Bachelor,01,01_LISA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
918,Bachelor,01,01_PAULA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
919,Bachelor,01,01_RACHEL_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
920,Bachelor,01,01_WENDI_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#seperate bachelor and bachelorette

In [5]:
grouped = df.groupby(df.SHOW)
bachelorette = grouped.get_group("Bachelorette")
bachelor = grouped.get_group("Bachelor")

In [6]:
#what season has the most eliminated contestants on the first night
#do bar graph with season as x and num of ppl eliminated

In [21]:
df = bachelor.loc[(bachelor['ELIMINATION-1']== 'E'),['SEASON','ELIMINATION-1']]
df.groupby('SEASON').count()

        ELIMINATION-1
SEASON
01                 10
02                  9
03                 10
04                 10
05                  9
06                 10
07                  8
08                 13
09                 15
10                 10
11                 10
12                 10
13                 10
14                 10
15                 10
16                  7
17                  7
18                  9
19                  8
20                  7
21                  8

In [7]:
#how many seasons did the person who got the first impresion rose won the whole thing

In [8]:
bachelor.loc[(bachelor['ELIMINATION-1']== 'R1') & (bachelor['ELIMINATION-10'] == 'W'),['SEASON','CONTESTANT']]

    SEASON      CONTESTANT
352     21    21_VANESSA_G
471     17  17_CATHERINE_G

In [9]:
bachelorette.loc[(bachelorette['ELIMINATION-1']== 'R1') & (bachelorette['ELIMINATION-10'] == 'W'),['SEASON','CONTESTANT']]

    SEASON   CONTESTANT
1       13   13_BRYAN_A
33      12  12_JORDAN_R
191     06  06_ROBERT_M

In [10]:
bachelor.loc[bachelor['ELIMINATION-1']== 'R1']

,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,...,DATES-1,DATES-2,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10
352,Bachelor,21,21_VANESSA_G,R1,NaN,R,NaN,NaN,NaN,NaN,...,NaN,D12,D1,D13,D10,D6,D1,D1,D1,D1
390,Bachelor,20,20_OLIVIA_C,R1,R,NaN,NaN,R,ED,NaN,...,NaN,D6,D12,D12,D9,D2,NaN,NaN,NaN,NaN
417,Bachelor,19,19_BRITT_N,R1,NaN,NaN,NaN,R,R,E,...,NaN,D11,D12,D6,D1,D6,D3,NaN,NaN,NaN
448,Bachelor,18,18_SHARLEEN_J,R1,NaN,NaN,R,NaN,R,EQ,...,NaN,NaN,D10,D1,D9,D6,D1,NaN,NaN,NaN
471,Bachelor,17,17_CATHERINE_G,R1,NaN,NaN,NaN,NaN,R,NaN,...,NaN,D13,D12,D8,D8,D1,D3,D1,D1,D1
473,Bachelor,17,17_ASHLEE_F,R1,NaN,R,NaN,NaN,NaN,NaN,...,NaN,NaN,D1,D8,D8,D7,D1,D1,D1,NaN
474,Bachelor,17,17_DESIREE_H,R1,R,NaN,NaN,NaN,R,NaN,...,NaN,D1,D12,NaN,D8,D1,D3,D1,NaN,NaN
476,Bachelor,17,17_TIERRA_L,R1,NaN,NaN,R,R,NaN,EU,...,NaN,D13,D12,D8,D2,D7,NaN,NaN,NaN,NaN
478,Bachelor,17,17_SLEMA_A,R1,NaN,NaN,R,NaN,E,NaN,...,NaN,D13,NaN,D1,D8,D7,NaN,NaN,NaN,NaN
479,Bachelor,17,17_SARAH_H,R1,R,NaN,NaN,NaN,EU,NaN,...,NaN,D1,NaN,D8,D8,D7,NaN,NaN,NaN,NaN
480,Bachelor,17,17_ROBYN_H,R1,NaN,NaN,NaN,E,NaN,NaN,...,NaN,D13,D12,D8,D8,NaN,NaN,NaN,NaN,NaN
481,Bachelor,17,17_JACKIE_[,R1,NaN,NaN,NaN,ED,NaN,NaN,...,NaN,NaN,D12,D8,D2,NaN,NaN,NaN,NaN,NaN
483,Bachelor,17,17_LESLIE_H,R1,NaN,NaN,ED,NaN,NaN,NaN,...,NaN,NaN,D12,D1,NaN,NaN,NaN,NaN,NaN,NaN
487,Bachelor,17,17_BROOKE_B,R1,E,NaN,NaN,NaN,NaN,NaN,...,NaN,D13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
488,Bachelor,17,17_DIANA_W,R1,E,NaN,NaN,NaN,NaN,NaN,...,NaN,D13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
489,Bachelor,17,17_LATIE_L,R1,EQ,NaN,NaN,NaN,NaN,NaN,...,NaN,D13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,Bachelor,16,16_LINDZI_C,R1,NaN,R,NaN,NaN,R,NaN,...,NaN,NaN,D1,D8,D9,D6,D1,D1,D1,D1
534,Bachelor,15,15_ASHLEY_S,R1,NaN,R,NaN,ED,NaN,NaN,...,NaN,NaN,D1,D9,D2,NaN,NaN,NaN,NaN,NaN
556,Bachelor,14,14_TENLEY_M,R1,NaN,NaN,R,NaN,NaN,NaN,...,NaN,NaN,D8,D6,D1,D1,D1,D1,NaN,NaN
589,Bachelor,13,13_NIKKI_K,R1,NaN,NaN,ED,NaN,NaN,NaN,...,NaN,D8,D8,D2,NaN,NaN,NaN,NaN,NaN,NaN
609,Bachelor,12,12_AMANDA_R,R1,NaN,NaN,R,NaN,NaN,E,...,NaN,D8,D10,D1,D4,D1,D1,NaN,NaN,NaN
634,Bachelor,11,11_JENNI_C,R1,NaN,NaN,R,NaN,NaN,NaN,...,NaN,D7,D6,D1,D4,D1,D1,D1,NaN,NaN
667,Bachelor,10,10_STEPHANIE_T,R1,R,NaN,E,NaN,NaN,NaN,...,NaN,D1,D5,D4,NaN,NaN,NaN,NaN,NaN,NaN
687,Bachelor,09,09_LISA_B,R1,R,NaN,NaN,NaN,E,NaN,...,NaN,D1,D6,D4,D1,D1,NaN,NaN,NaN,NaN
741,Bachelor,07,07_Sarah W.,R1,R,NaN,NaN,NaN,E,NaN,...,D9,D1,D6,D5,D1,D1,NaN,NaN,NaN,NaN
747,Bachelor,07,07_Kerry,R1,E,NaN,NaN,NaN,NaN,NaN,...,D6,D10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
796,Bachelor,05,05_TRISH_S,R1,NaN,NaN,NaN,E,NaN,NaN,...,NaN,D1,D2,D3,D1,NaN,NaN,NaN,NaN,NaN

In [ ]:
#which season had the most unscheduled eliminations

In [28]:
#bachelor.loc[(bachelor['S'])]
#crimes.groupby('SEASON').count()
#bachelor.loc[(bachelor['SEASON'] == 1) & (bachelor['ELIMINATION-3'] == 'EU')]
bachelor[bachelor.contains('EU')]

AttributeError: 'DataFrame' object has no attribute 'contains'